* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.p-color {
  color: #3677f6;
}

.s-color {
  color: #ffffff !important;
}

.bp-color {
  background-color: #3677f6;
}

.bs-color {
  background-color: #ffffff;
}

.bt-color {
  background-color: #e8f8f1;
}

.t-color {
  background-color: #e8f8f1;
}

h3 {
  font-size: 16px !important;
  font-weight: 500 !important;
}


#scroll-container {
  border: 1px solid blue;
  padding: 10px ;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}